<div class="container-fluid p-4">
    <h4>Nuevos Productos</h4>
    <div class="row">
        <div class="col-3" *ngFor="let p of productosNuevos" >
            <div class="card">
                <img [src]="p.imagen" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{p.nombre}}</h5>
                    <p [ngSwitch]="p.estado" class="card-text">
                        <span *ngSwitchCase="'Nuevo'" class="badge bg-success" >Estado: {{p.estado}}</span>
                        <span *ngSwitchCase="'Usado'" class="badge bg-warning" >Estado: {{p.estado}}</span>
                    </p>
                    <a href="#" class="btn btn-primary">{{p.precio | currency }}</a>
                </div>
                <div class="card-footer" >
                    <a class="btn btn-secondary" routerLink="'/privado/productos/detalle/'+p.id">Ver Producto</a>
                </div>
            </div>
        </div>
    </div>
</div>