<div class="container" >

    <div class="card mt-4 mb-4">
        <div class="card-body">
            <h4>Iniciar Sesion</h4>
            <hr>
            <form>
                <div class="mb-3" >
                    <label>Correo</label>
                    <input type="email" class="form-control" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}" >
                </div>
                <div class="mb-3" >
                    <label>Contraseña</label>
                    <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3" >
                    <button class="btn btn-primary" (click)="login()">Ingresar</button>
                </div>

                <div class="mb-3" >
                    <ul>
                        <li>
                            <a routerLink="/landing/registro" >No tienes cuenta, registrate aquí</a>
                        </li>

                        <li>
                            <a routerLink="/landing/recuperar-contrasena">¿Olvidaste tu contraseña?</a>
                        </li>
                    </ul>
                </div>

            </form>
        </div>
    </div>

</div>