
<div class="container-fluid p-4">
    
    <h3>Mis Producto</h3>

    <div class="card" >
        <div class="card-body" >

            <table class="table" >
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Marca</td>
                    <td>Precio</td>
                    <td>Opciones</td>
                </tr>

                <tr *ngFor="let producto of productos" >
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.marca}}</td>
                    <td>{{producto.precio}}</td>
                    <td>
                        <button class="" (click)="eliminarProducto(producto)" >Eliminar</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>    